@{
    ViewData["Title"] = "Causes Comments";
}
      <!--Main Body content -->
      <section class="pt-5 pb-5">
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="cause-dashboard.html"><i class="fa fa-arrow-left"></i> Go to my cause dashboard</a>
            </li>
          </ul>
        </div>
      </section>

      <section class="pt-5 pb-5">
        <div class="container">
          <div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
            <h2><b>Reason for signing</b></h2><br>
            <p>See why other supporters are signing, why this petition is important to them, and share your reason for signing (this will mean a lot to the starter of the petition).</p> <br> 
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="col-sm-12">
                      <div class="" style="float:left">
                        <img src="~/lib/images/img_avatar.png" alt="Avatar" class="avatar">
                      </div>
                      <div style="float:left">
                        <span class="suptext2">Ayorinde G. Smart<br></b><span class="supsigned">2 hours ago</span></span>
                      </div>
                    </div><br><br><br>
                  <p style="float:left">I am signing this cause with my full chest. We need to start seein  changes within the corridors of power.</p>
                  </div>
                  <div class="card-footer make-plain">
                    <div class="col-sm-6 set-left"> 
                      <span ><i class="fa fa-trash"></i></span>
                    </div>
                    <div class="col-sm-6 set-right">
                      <span><i class="fa fa-heart countlike" id="count-like"> 2</i></span>
                    </div>
                  </div>
                </div>
              </div><br>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="col-sm-12">
                      <div class="" style="float:left">
                        <img src="~/lib/images/img_avatar.png" alt="Avatar" class="avatar">
                      </div>
                      <div style="float:left">
                        <span class="suptext2">Akinbode Akinniyi Jeremiah<br></b><span class="supsigned">4 hours ago</span></span>
                      </div>
                    </div><br><br><br>
                  <p style="float:left">True... I will stop patronizing their contents and services.</p>
                  </div>
                  <div class="card-footer make-plain">
                    <div class="col-sm-6 set-left">
                      <span ><i class="fa fa-trash"></i></span>
                    </div>
                    <div class="col-sm-6 set-right">
                      <span><i class="fa fa-heart"> 2</i></span>
                    </div>
                  </div>
                </div>
              </div><br>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="col-sm-12">
                      <div class="" style="float:left">
                        <img src="~/lib/images/img_avatar.png" alt="Avatar" class="avatar">
                      </div>
                      <div style="float:left">
                        <span class="suptext2">John A. Davids<br></b><span class="supsigned">2 hours ago</span></span>
                      </div>
                    </div><br><br><br>
                  <p style="float:left">I have once brought this to the notice of one of their administrator and its so sad that nothing has been done about the issues..</p>
                  </div>
                  <div class="card-footer make-plain">
                    <div class="col-sm-6 set-left">
                      <span ><i class="fa fa-trash"></i></span>
                    </div>
                    <div class="col-sm-6 set-right">
                      <span><i class="fa fa-heart"> 2</i></span>
                    </div>
                  </div>
                </div>
              </div><br>
          </div>
        </div>
      </section>
      <!--End of Main Body content -->
      